* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    z-index: 2;
    top: 0;
}

.navbar {
    margin: 8px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.left {
    margin-left: 50px;
}

.left img {
    height: 50px;
    padding: 10px;

}

.mid {
    display: flex;
    margin:  auto;
}

.right .btn {
    margin-right: 50px;
    text-decoration: none;
    background-color: #29acb6;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.right .btn:hover {
    background-color: #2C2D3F;
}

.midbar {
    margin: 30px;
    text-decoration: none;
    color: black;
}

.midbar span {
    padding: 4px
}

.midbar:hover {
    color: #29acb6;
}

.midbar:focus {
    color: #29acb6;
}

.bg img {
    margin-top: -11px;
    width: -webkit-fill-available;

}

.bg .inner {
    width: 555px;
    margin-top: -35%;
    margin-left: 125px;
    font-size: 22px;
}

.inner span {
    color: #29acb6;
}

.inner p {
    font-size: 16px;
    text-align: justify;
}

.inner .href {
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    background-color: #29acb6;
    border-radius: 8px;
    font-size: 15px;

}

.inner .href:hover {
    background-color: #2e2e34;
}

.schedule-inner {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}

.time-table {
    background-color: #29acb6;
    margin: 50px;
    padding: 30px;
}

.time-table h4 {
    font-size: 16px;
    letter-spacing: 1px;
}

#box1,
#box2,
#box3 {
    height: 240px;
    width: 290px;
    border-radius: 8px;
}

.time-table .box1-inner .ambulance-icon i {
    font-size: 135px;
    color: #ffff;
    visibility: visible;
    opacity: 0.2;
    margin: -35px 170px;
}

.time-table .box2-inner .sheet-icon i {
    font-size: 135px;
    color: #ffff;
    visibility: visible;
    opacity: 0.2;
    margin: -42px 222px;

}

.time-table .box3-inner .clock-icon i {
    font-size: 110px;
    color: #ffff;
    visibility: visible;
    opacity: 0.2;
    margin-left: 215px;
    margin-top: -45px;
}

.box1-inner a,
.box2-inner a {
    text-decoration: none;
    color: #ffff;
    margin-top: 10px;
}

.box1-inner a:hover {
    border-bottom: 1px solid #fffefe;
}

.box2-inner a:hover {
    border-bottom: 1px solid #fffefe;
}

.box3-inner a {
    text-decoration: none;
    color: #ffff;
    line-height: 4;
}

.box3-inner a:hover {
    border-bottom: 1px solid #fffefe;
}

.box1-inner i,
.box2-inner i,
.box3-inner i {
    font-size: 12px;
}

.box1-inner,
.box2-inner,
.box3-inner {
    color: #fffefe;
}

ul,
ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.box3-inner .time-sedule li {
    display: block;
    width: 100%;
    margin-bottom: 3px;
}

.time-sedule .day span {
    position: absolute;
    right: 120px;
}

.container {
    text-align: center;
    padding: 0px 464px;
    margin-top: 50px;

}

.container h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 24px;
    position: relative;
    color: #2C2D3F;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.line1,
.line2,
.line3 {
    background-color: #29acb6;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    margin: 25px;
    padding: 30px;
}

.single-icon img {
    width: 50px;
    border-radius: 35%;
    border: black 2px solid;
    padding: 10px;
}

#overlay {
    background-image: url(./baby-feet.jpg);
    background-size: cover;
    margin-top: 15px;
}

.data {
    background-color: #29acb6b0;
    padding: 120px;
    display: flex;
    justify-content: space-between;
}

.single-fun i {
    color: #fff;
    height: 70px;
    width: 70px;
    line-height: 72px;
    font-size: 35px;
    text-align: center;
    margin: -85px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.element1 i:hover,
.element2 i:hover,
.element3 i:hover,
.element4 i:hover {
    background-color: white;
    color: #29adb6;
}

.content {
    line-height: 0;
    color: #fffefe;
    margin-top: -25px;
    font-size: 20px;
}

.row2 {
    display: flex;
    justify-content: center;
}

.row2 .left-side {
    margin: 20px;
    width: 45%;
    text-align: justify;
}

.row2 .left-side span {
    border-bottom: #29adb6 2px solid;
    color: #2C2D3F;
}

.row2 .right-side {
    width: 45%;
    text-align: center;
}

.left-side .list {
    display: flex;
    justify-content: space-evenly;
}

.list1,
.list2 {
    line-height: 2;
}

.order i {
    color: #29acb6;
    margin: 10px;
}

.foot {
    width: 100%;
    margin-top: 90px;
    background-image: url(./ct-scan\ image.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.overlape {
    background-color: #29adb6b5;
    text-align: center;
    padding: 90px 429px;
}

.overlape h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
}

.overlape p {
    color: #3f3232;
    margin: 30px 0;
    font-size: 15px;
}

.button .btn,
.btn-last {
    text-decoration: none;
    background: #fff;
    margin-right: 20px;
    border: 1px solid #fff;
    color: #29adb6;
    padding: 12px;
    border-radius: 5px;
}

.btn-last i {
    margin: 6px;
}

.btn-last:hover,
.btn:hover {
    background-color: #29acb6;
    color: #fff;
}

.marque .container-row {
    display: flex;
    height: 350px;
    margin: 30px;
}

.image {
    margin: 5px;
}

.A {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.A .B {
    width: 25%;
}

.B {
    margin: 40px 15px;

}

.B i {
    color: #29adb6;
    font-size: 60px;
    position: absolute;
    margin-left: 35px;
    margin-top: 20px;
}

.B h4 {
    margin: 30px;
    margin-left: 133px;
}

.B h4:hover {
    color: #29acb6;
    cursor: pointer;
}

.B p {
    margin-left: 135px;
    color: #2C2D3F;
}

.row3 {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.row3 .item {
    border: #a19898 1px solid;
    background-color: #f8f5f5;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
}

.table-head i {
    font-size: 55px;
    color: #29adb6;
}

.table-head .title {
    font-size: 30px;
    color: #2C2D3F;
    margin-top: 18px;
}

.amount {
    color: #29adb6;
    font-size: 30px;
}

.amount span {
    color: #2C2D3F;
    font-size: 13px;
}

.table-list {
    padding: 10px 0;
    text-align: left;
    margin-top: 30px;
}

.table-list li {
    position: relative;
    color: #666;
    text-transform: capitalize;
    margin-bottom: 16px;
    padding-right: 100px;
}

.table-list i {
    position: absolute;
    right: 0%;
    color: #29adb6;
    border-radius: 50%;
}

.table-list .cross i {
    color: #2e2e34;
}

.table-bottom .btn {
    background-color: #29adb6;
    text-decoration: none;
    color: #fffefe;
    padding: 12px 95px;
    border-radius: 8px;
    line-height: 6;

}

.table-bottom .btn:hover {
    background-color: #2C2D3F;
    color: #fffefe;
}

.row4 {
    display: flex;
    justify-content: center;

}

.single-news {
    border: 1px solid rgb(202, 198, 202);
    width: 21%;
    margin: 10px 15px;

}

.single-news .news-head img {
    width: 100%;

}

.news-content {
    padding: 20px;
    position: relative;
}

.news-content .date {
    background-color: #29adb6;
    display: inline-block;
    border-radius: 5px;
    color: #f8f5f5;
    padding: 9px;
}

.news-body .news-content h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -12px;
    line-height: 23px;
}

.news-body .news-content a {
    font-size: 22px;
    color: #2a2a2c;
    text-decoration: none;
    text-align: left;
}

.news-content a:hover {
    color: #29adb6;
}

.single-news:hover {
    border-bottom: #29acb6 2px solid;
}

.news-content p {
    text-align: left;
    color: #2C2D3F;
}

.clint-overlay {
    background-image: url(./client-bg.jpg);
    background-position: center;
    background-size: cover;

}

.row5 {
    background-color: #29acb6c9;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 100px;
}

.row5 img {
    width: 70%;
    margin-top: 35px;
}

.bottom {
    display: flex;

}

.left-section {
    margin: 30px;
    margin-left: 100px;
    width: 45%;
    margin-top: 40px;

}

.form .element1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;

}

.form-group input {
    margin: 10px;
    font-size: 17px;
    padding: 16px 10px;
    border-radius: 4px;
    border: #646060 solid 1px;
}

.form-group select {
    margin: 10px 35px;
    font-size: 17px;
    padding: 16px 10px;
    color: #666666;
    border-radius: 4px;
}

.form-group textarea {
    width: 460px;
    height: 200px;
    padding: 10px;
    border: 1px solid #646060;
    text-transform: capitalize;
    resize: none;
    border-radius: 4px;
    font-size: 17px;
}

.right-section {
    width: 45%;

}

.left-section .element2 {
    display: flex;

}

.left-section .element2 .btn {
    border: none;
    background-color: #29acb6;
    border-radius: 5px;
    color: #f8f5f5;
    margin-left: 155px;
    margin-top: 18px;
    padding: 10px 26px;
}

.left-section .element2 .btn:hover {
    background-color: #2a2a2c;
    color: #29adb6;
}

.left-section .element2 p {
    margin-left: 10px;
    margin-top: 23px;
    color: #747474;

}

.right-section img {
    margin-top: 65px;
}

.newsletter {
    background: rgb(237 237 237);
    height: 300px;
    margin-top: -10px;
}

.newsletter .row {
    padding-top: 50px;
}

.newsletter .subscribe-form input {
    margin: 15px;
    font-size: 14px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 80px;
    padding-right: 90px;
}

.newsletter .subscribe-text h6 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #080809;
}

.newsletter .subscribe-text p {
    color: #545151;
    margin: 0;
    line-height: 24px;
    font-weight: 400;
}

.newsletter .btn {
    background-color: #29adb6;
    height: 62px;
    line-height: 60px;
    padding: 0;
    border: none;
    width: 180px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;

}

.footer .footer-top {
    padding: 69px 0;
    position: relative;
    background: #04909e;
}

.footer .footer-top .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#scrollup {
    bottom: 15px;
    right: 15px;
    padding: 10px 20px;
    background-color: #29adb6;
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #00000026;
}

#scrollup:hover {
    background-color: #2a2a2c;
}

.single-footer {
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
}

.single-footer h2 {
    color: #fff;
    border-bottom: #fff 4px solid;
    width: fit-content;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.single-footer p {
    color: #fff;
    width: 200px;
    font-weight: 300;
}

.single-footer .social {
    display: flex;
    margin-top: 25px;
    margin-left: -12px;
}

.single-footer .social li a {
    display: block;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    border: 1px solid #fff;
    margin-left: 12px;
    font-size: 19px;
    width: 30px;
    padding: 5px 5px;
    border-radius: 50%;
}

.single-footer .social li a:hover {
    background-color: #fff;
    color: #29acb6;
}

.single-footer-link h2 {
    border-bottom: #fff 4px solid;
    width: fit-content;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.single-footer-link .detail {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
}

.single-footer-link .detail .col1 a:hover,
.single-footer-link .detail .col2 a:hover {
    padding-left: 5px;
}

.single-footer-link .detail li {
    margin: 16px 21px;

}

.single-footer-link .detail li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 300;

}

.single-footer-link .detail li a i {
    margin-right: 12px;
}

.single-footer .time-sedule .day {
    color: #fff;
}

.single-footer .time-sedule .day span {
    left: 65%;
    position: sticky;
    font-weight: 300;
}

.single-footer .newsletter-inner input {
    margin: 8px 0px;
    background-color: transparent;
    padding: 16px 22px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    border: 1px solid #fff;
}

.single-footer .newsletter-inner .button {
    padding: 15px 19px;
    border: none;
    color: #29acb6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 12px -4px;
    font-size: 18px;
}

.single-footer .newsletter-inner .button:hover {
    color: #080809;

}

.copyright {
    background: #29acb6;
    padding: 5px 0;
    text-align: center;
}

.container-1 {
    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -15px;
}

.container-1 .inner {
    background-color: #0098a3d1;
    color: #2a2a2c;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 20px;
}

.container-1 .inner a {
    font-size: 18px;
    text-decoration: none;
    color: #2a2a2c;


}

.container-1 .inner i {
    margin: 9px;
    font-size: 14px;

}

.contact-us {
    padding: 100px 0px;
}

.contact-us .contact-inner {
    display: flex;
    justify-content: center;

}